//iconfont
@font-face {
  font-family: 'iconfont';
  /* project id 1690112 */
  src: url('//at.alicdn.com/t/font_1690112_c6b4ck4a2uo.eot');
  src: url('//at.alicdn.com/t/font_1690112_c6b4ck4a2uo.eot?#iefix') format('embedded-opentype'),
    url('//at.alicdn.com/t/font_1690112_c6b4ck4a2uo.woff2') format('woff2'),
    url('//at.alicdn.com/t/font_1690112_c6b4ck4a2uo.woff') format('woff'),
    url('//at.alicdn.com/t/font_1690112_c6b4ck4a2uo.ttf') format('truetype'),
    url('//at.alicdn.com/t/font_1690112_c6b4ck4a2uo.svg#iconfont') format('svg');
}

.icon {
  font-family: 'iconfont';
  font-style : normal;
  font-size  : 16px;
}